# LLM API Keys
OPENAI_API_KEY=
GEMINI_API_KEY=

# LLM
LLM_MODEL=gemini-3.1-flash-lite

# Embedding
EMBED_MODEL=jhgan/ko-sroberta-multitask

# DART API Key
OPENDART_API_KEY=

# KRX 로그인
KRX_ID=
KRX_PW=
